
.disabled{
    color: grey;
    text-decoration: line-through;
    font-style: italic;
}
.toDoContainer.disabledC{
    box-shadow: none;
    border: none;
}

#container{
    width: 50vw;
    border: 0px;
    margin: 0 auto;
}


.icon{
    font-size: 1.2rem;
    margin-right: 15px;
}

#trash{
    color: red;
}

#pen{
    color: rgba(238, 152, 4, 0.981);
}




