#mainMenu, #settingsMenu{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center; 
    gap: 50px;
    flex-direction: column;
}

#mainMenu, .flex-impostazioni{
    display: flex;
}

#mainMenu.disattiva{
    display: none;
}

#settingsMenu{
    display: none;
}

#settingsMenu.attiva{
    display: flex;
}

.flex-impostazioni{
    gap: 50px;
}

#arcadeMode, #freeMode, #impostazioni, #Animali, #Piante, #Cibo{
    border-radius: 5px;
    width: 200px;
    height: 200px;  
    cursor: pointer;
}

#arcadeMode:hover, #freeMode:hover, #impostazioni:hover{
    background-color: black;
    color: white;
}

#arcadeMode{
    background-color: red;
}

#freeMode{
    background-color: green;
}

#impostazioni{
    background-color: grey;
}

#Piante {
    background-image: linear-gradient(#3D9140, #5E2612);
}

#Animali{
    background-image: linear-gradient(#7D9EC0, #5E2612);
}

#Cibo{
    background-image: linear-gradient(#FF4040, #5E2612);
}

#Cibo:hover, #Animali:hover, #Piante:hover{
    color: white;
    transform: scale(1.2);
}

#Cibo, #Animali, #Piante, #arcadeMode, #freeMode, #impostazioni{
    box-shadow: 5px 5px 15px 5px #000000;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}