#mainMenu, #settingsMenu{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center; 
    gap: 50px;
}

#mainMenu, #flex-impostazioni{
    display: flex;
}

#mainMenu.disattiva{
    display: none;
}

#settingsMenu{
    display: none;
}

#settingsMenu.attiva{
    display: flex;
    flex-direction: column;
}

#flex-impostazioni{
    gap: 50px;
}

#arcadeMode, #freeMode, #impostazioni, #Animali, #Piante, #Cibo{
    border-radius: 5px;
    width: 200px;
    height: 200px;  
    cursor: pointer;
}

#arcadeMode:hover, #freeMode:hover, #impostazioni:hover{
    background-color: black;
    color: white;
}

#arcadeMode{
    background-color: red;
}

#freeMode{
    background-color: green;
}

#impostazioni{
    background-color: grey;
}