
#sidebarFixed{
    @include fromtheTop;
    position: fixed;
    right: 0px;
}

#sidebarFixed i{
    color: testoGenerale($light);
}

#sidebarFixed li:hover{
    background-color: testoHover($light);
}

