

.sliderTestimonials img{
   max-width: 100%;
   border: 1px solid #270202;
   border-radius: 5px;
}

.sliderTestimonials h5, .sliderTestimonials p, .sliderTestimonials button{
    color: #270202;
}
