.sliderPrincipale{
    @include sizes
}

.sliderTestimonials{
    @include sizes;
    color: $testo_nero;
}

img:not(footer img, .navbar img, #sidebarFixed img){
   @include sizes;
   border: 1px solid white;
   border-radius: 5px;

}