

.sliderTestimonials img{
   max-width: 100%;
   border: 1px solid #270202;
   border-radius: 5px;
}

.sliderTestimonials h5, .sliderTestimonials p{
    color: #270202;
}

.sliderTestimonials span{
   background-color: #270202;
}
