$bg_body : #184e07;

//Override
$theme_color : #981a1a;

$light: $theme_color;


//Testo

$testo_bianco : testo($theme_color);
$testo_nero : testo($bg_body);




@mixin sizes{
    max-height: 600px;
    max-width: 1000px;
}
