$bg_body : #0e4002;

//Override
$theme_color : #600202;

$light: $theme_color;


//Generale 

@mixin general{
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
}

@mixin fromtheTop {
    top: 98px;
}

