@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'functions';
@import 'sidebar';
@import 'sliders';
@import 'navbarfooter';




.bgBody{
    background-color: $bg_body;
    color: $testo_nero;
}

.row{
    @include paddings;
}

a{
    cursor: pointer;
}



