<form class="my-5 mx-5">
    <input class="form-control my-2" type="text"
    [(ngModel)]="newPost.title"
    name="title" placeholder="Title">
  
    <textarea class="form-control my-2"
    [(ngModel)]="newPost.content"
    name="content" placeholder="Your content"></textarea>
  
    <button *ngIf="formAction == 'create'" (click)="save()" class="btn btn-primary">Add a new post</button>
    <button *ngIf="formAction == 'edit'" (click)="edit()" class="btn btn-primary">Edit this post</button>
  </form>

  <h4>Theeeese are aaall your posts!</h4>
  <div class="card my-3 mx-5" *ngFor="let mine of mines">
    <div class="card-body">
      <h5 class="card-title">{{mine.title}}</h5>
      <p class="card-text">{{mine.content}}</p>
      <p class="card-text">{{mine.username}}</p>
      <p class="card-text">{{mine.date}}</p>
      <a (click)="select(mine)" class="btn btn-warning">Edit</a>
      <a (click)="delete(mine)" class="btn btn-danger">Delete</a>
    </div>
  </div>


