#modal{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
}

#modal.active{
    display: block;
}

#updateContainer{
    background-color: white;
    margin: 100px auto;
    border: 1px solid black;
    padding: 20px;
    width: 40vw;
    height: 40vh;
}

#edit{
    margin-left: 25px;
    margin-top: 35px;
}

#update{
    border-radius: 10px;
    width: 6vw;
    background-color: rgba(238, 152, 4, 0.981);
}

#update:hover{
    background-color: rgb(156, 100, 3);
}

#edit:focus{
    border: 0px;
    outline: 3px solid rgba(238, 152, 4, 0.981);
}

#close{
    position: absolute;
    left: 68.5%;
    top: 17%;
    background-color: red;
    border-radius: 50%;
    height: 3vh;
}
