#modal{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
}

#modal.active{
    display: block;
}

#updateContainer{
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}