


.area {
  width: 90vw;
  height: 90vh;
}

.cubo {
  margin-top: 50px;
  margin-left: 500px;
  width: 500px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  animation-name: rotation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  transform: translateZ(-100px);
  transition: transform 1s;
}

/*.rfronte  { transform: translateZ(-100px) rotateY(   0deg); }
.rdestra  { transform: translateZ(-100px) rotateY( -90deg); }
.rdietro   { transform: translateZ(-100px) rotateY(-180deg); }
.rsinistra  { transform: translateZ(-100px) rotateY(  90deg); }*/

.faccia {
  position: absolute;
  width: 500px;
  height: 500px;
}

.fronte { background-image: url(../img/4.png); }
.destra  { background-image: url(../img/3.png);}
.retro  { background-image: url(../img/2.jpg); }
.sinistra   { background-image: url(../img/1.jpg);}
.sopra   { background-color: black; }
.sotto { background-color: black;}

.fronte { transform: rotateY( 0deg) translateZ(100px); }
.destra  { transform: rotateY( 90deg) translateZ(100px); }
.retro  { transform: rotateY(180deg) translateZ(100px); }
.sinistra   { transform: rotateY(-90deg) translateZ(100px); }
.sopra    { transform: rotateX( 90deg) translateZ(100px); }
.sotto { transform: rotateX(-90deg) translateZ(100px); }


#play{
    position: relative;
    left: 1050px;
    top: -100px;
}


#stop{
    position: relative;
    left: 330px;
    top: -100px;
}


@keyframes rotation{
    0%{ transform: rotateY(0deg)}
    25%{ transform:  rotateY(90deg)}
    50%{ transform:  rotateY(180deg)}
    75%{ transform:  rotateY(270deg)}
    100%{ transform:  rotateY(360deg)}
}



