.board{
    border: 1px solid black;
    margin: 30px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h2{
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
    color: white; 
    padding-bottom: 30px;
}

.listaUtenti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container p{
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
p:hover{
    color: black;
}

.addBtn{
    align-self: center;
    background-color: aqua;
    border-radius: 5px;
    border: 0px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.addBtn:hover{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

#profileUsername{
    font-size: 2rem;
    margin: 15px 0px;
    color: white;
}

.keysValue{
    display: flex;
    color: white;
    margin: 5px 0px;
    gap: 20px;
}

h4{
    font-size: 1.5rem;
}

#scheda{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#update, #delete, #goBack{
    margin: 5px 0px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: bold;
    cursor: pointer;
}

#scheda p{
    font-size: 1.3rem;
    line-height: 24px;
}

#update{
    background-color: green;
}
#delete{
    background-color: red;
}
#goBack{
    background-color: rgb(61, 145, 174);
}


