h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    margin-top: 10px;
}



#carouselExampleSlidesOnly img{
    height: 60vh;
}

.post{
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.nameStyle{
    font-size: 1.2rem;
}