html{
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h3{
    text-align: center;
    font-size: 2.5rem;
}

.aTodo{
    width: 30vw;
    height: 5vh;
}

.btn{
    width: 8vw;
    height: 6vh;
    margin-left: 5px;
    cursor: pointer;
}

.container{
    width: 50vw;
    border: 0px;
    margin: 0 auto;
    border-radius: 5px;
}
